<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ wp_head() }}
    {% include 'components/fonts-preload.twig' %}
</head>
<body class="{{ wp_classes|join(' ') }}">    
    {% if not is.splash %}
    {% block header %}
        {% include 'components/header.twig' %}
    {% endblock %}
    {% endif %}

    <main id="main" class="sitemain">
        {% block content %}{% endblock %}
    </main>

    {% if not is.splash %}
    {% block footer %}
        {% include 'components/footer.twig' %}
    {% endblock %}
    {% endif %}

    {{ wp_footer() }}
</body>
</html>